<a class="add-forum" href="#">
    <header>
        <h4>Add Forum</h4>
    </header>
    <div class="add-forum__content">
        <span class="fa fa-plus"></span>
    </div>
    <footer></footer>
</a>