<%= link_to new_forum_path(channel: channel), class: "add-forum" do %>
    <header>
        <h4>Add Forum</h4>
    </header>
    <div class="add-forum__content">
        <span class="fa fa-plus"></span>
    </div>
    <footer></footer>
<% end %>