<%= link_to forum_path(forum), class: "forum-card" do %>
    <header>
        <h4><%= forum.title %></h4>
    </header>
    <div class="forum-card__content">
        <p><%= forum.description %></p>
    </div>
    <footer></footer>
<% end %>