

<section class="channels-section">
    <div class="container">
        <h1>Forums</h1>
        <div class="create-channel"><%= link_to "Create Channel", new_channel_path, class: "btn" %></div>
        <div class="row direction-column">
            <%= render partial: "channel", collection: @channels.ordered_by_position %>
        </div>    
    </div>
</section>