<section class="forum-section">
    <div class="container">
        <h1><%= @forum.title %></h1>
        <% if user_signed_in? %>
            <div class="thread-options">
                <%= link_to "New Thread", new_forum_forum_thread_path(@forum.id), class: "btn" %>
            </div>
        <% end %>
        <div class="forum-thread__container">
            <div class="forum-thread header">
                <div class="forum-thread__title">Title</div>
                <div class="forum-thread__author">Author</div>
                <div class="forum-thread__replies">Replies</div>
                <div class="forum-thread__activity">Activity</div>
            </div>
            <%= render partial: "forum_thread", collection: @forum.forum_threads.ordered_by_updated.sort_by { |thread| thread.pinned ? 0 : 1} %>
        </div>
    </div>
</section>

