.site-header {
    border-bottom: 6px solid $m2;

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.625em 1.25rem;
        background-color: $m1;

        > a {
            display: flex;
            margin-right: 2em;
        }
        
    }

    &__logo {
        height: 2.5rem;
    }

    .nav {
        display: none;

        @include breakpoint(900px) {
            display: block;
        }

        &.start {
            margin-right: auto;
        }

        &__list {
            display: flex;
            margin: 0;
            list-style-type: none;
        }

        &__item {
        }

        &__link {
            position: relative;
            padding: 0.8rem 1.25rem;
            color: $color-white;
            font-weight: 700;
            font-size: 1.125rem;
            text-decoration: none;
            transition: .2s all;
            z-index: 2;

            &:hover, &:focus {
                &::after {
                    opacity: 1;
                    animation: fill ease-in .25s forwards; 
                }
            }

            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                opacity: 0;
                background: $m2;
                z-index: -1;
            }
        }
    }

    .menu-trigger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 1.875rem;
        height: 1.5625rem;
        position: relative;
        background: none;
        border: none;
        color: $color-white;

        &__bar {
            height: 3px;
            width: 100%;
            background-color: $color-white;
            transition: all .25s;
        }

        @include breakpoint(900px) {
            display: none;
        }

        .menu-open & {
            &__bar {
                &:nth-child(2) { opacity: 0 }

                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotateZ(-45deg);

                &:last-child {
                    transform: translate(-50%, -50%) rotateZ(45deg);                                        
                }
            }
        }
    } 
}

.hero {
    height: 28.125rem;
    position: relative;
    background-image: url('https://i.imgur.com/iYeJtLu.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 35%;

    &__text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $color-white;
        text-align: center;

        h1 {
            margin: 0 0 1.25rem 0;
        }   

        h3 {
            font-size: 1.75rem;
        }
        
    }
}
