<%= form_with model: [@thread, @thread.forum_replies.build], class: "form full" do |form| %>
    <div class="form__title">
        <h1><%= form_title %></h1>
    </div>
    <div class="form__field">
        <%= form.cktext_area :body, class: "form__input" %>
    </div>
    <%= form.submit "Submit", class: "form__submit" %>    
<% end %>