* {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    color: $color-black;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    line-height: 1.6;
    background: $color-white;
}

h1 {
    font-size: 2.39rem;
    margin: 0 0 1.25rem 0;
    word-break: break-word;

    @include breakpoint(700px) {
        font-size: 3.1875rem;
    }
}

h2 {
    font-size: 2rem;
    margin: 0 0 1.25rem 0;
}

h3 {
    font-size: 1.1875rem;
}

ul, ol {
    padding-left: 1.25rem;
    margin-bottom: 1.25rem;
}

a {
    color: $m4;
    transition: all .3s;
    text-decoration: none;

    &:hover, &:focus {
        color: $m3;
    }
}

hr {
    margin: 4rem 0;
    border-color: $s1;
}

blockquote {
    padding: 1.25em;
    color: $color-black;
    background: rgba($s2, .2);
    margin-bottom: 1.25rem;
}

img {
    max-width: 100%;
}