section {
    [class*="create"], [class*="options"] {
        text-align: right;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;

    .col-1-of-2 {
        width: 50%;
        height: 12.5rem;
        padding: 0 1.25em;
        background: lightblue;
    }

    &.direction-column {
        flex-direction: column;
    }
}

.container {
    max-width: $container-width;
    margin: 0 auto;
    padding: 3.75rem 1.875rem;
}

.intro {
    padding: 1.25rem;
}

.rails-error-container, .rails-error-page {
    text-align: center;

  h1 {
    margin: 10vh 0 0 0;
  }

  h2 {
    font-weight: 400;
  }

  p {
    font-size: 18px;
  }
}

