.row {
    display: flex;

    .col-1-of-2 {
        background: lightblue;
        width: 50%;
        height: 12.5rem;

        &:not(:last-child) {
            margin-right: 1.25rem;
        }
    }

    &.direction-column {
        flex-direction: column;
    }
}

.container {
    max-width: $container-width;
    margin: 0 auto;
    padding: 0 1.875rem;
}