section {
    [class*="create"], [class*="options"] {
        text-align: right;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;

    .col-1-of-2 {
        width: 50%;
        padding: 0 1.25em;
    }

    .col-1-of-3 {
      width: 33.33%;
      padding: 0 1.25em;
  }

    .col-2-of-3 {
      width: 66.66%;
      padding: 0 1.25em;
  }

    &.direction-column {
        flex-direction: column;
    }

    [class*="col"] {
      @media (max-width: 1000px) {
        width: 100%;
      }
    }
}

.container {
    max-width: $container-width;
    margin: 0 auto;
    padding: 3.75rem 1.875rem;
}

.intro {
    padding: 1.25rem;
}

.rails-error-container, .rails-error-page {
    text-align: center;

  h1 {
    margin: 10vh 0 0 0;
  }

  h2 {
    font-weight: 400;
  }

  p {
    font-size: 18px;
  }
}

