<% content_for :title do %>
  <title>FinalForum: Forbidden</title>
<% end %>

<div class="rails-error-container">
  <div class="container">
    <h1>403 Forbidden</h1>
    <h2>You don't have permission to access this page.</h2>
    <p>Perhaps you'd like to <a href="/forums">return to the forums</a> or <a href="/">homepage</a>?</p>
  </div>
</div>