<% content_for :title do %>
  <title>FinalForum: Something went wrong</title>
<% end %>

<div class="rails-error-container">
  <div class="container">
    <h1>500 Internal Server Error</h1>
    <h2>Oh dear, something isn't working right.</h2>
    <p>Please try refreshing the page or checking back later!</p>
  </div>
</div>