<% content_for :title do %>
  <title>FinalForum: Page not found</title>
<% end %>

<div class="rails-error-container">
  <div class="container">
    <h1>404 Page Not Found</h1>
    <h2>That's odd, how did you end up here?</h2>
    <p>Perhaps you'd like to <a href="/forums">return to the forums</a> or <a href="/">homepage</a>?</p>
  </div>
</div>