@keyframes fill {
    0% {
        width: 0%;
        height: 2px;
    }

    60% {
        width: 100%;
        height: 2px;
    }

    100% {
        width: 100%;
        height: 100%;
    }
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-150%);
    }

    80% {
        transform: translateX(-20%);
    }

    100% {
        opacity: 1;
        transform: translateX(-50%);
    }
}