@mixin avatar {
    width: 6.25rem;
    height: 6.25rem;
    margin-right: 0.625rem;
    margin-bottom: 0.625rem;

    @include breakpoint(700px) {
        width: 7.5rem;
        height: 7.5rem;
    }
};

@mixin news-post {
    &:not(:last-child) {
        padding-bottom: 1.25rem;
    }

    &__title {
        font-size: 1.25rem;
    }

    &__sub {
        color: $s2;
        margin-bottom: 1em;
    }

    &__content {
        p {
            &:not(:last-child) {
                margin-bottom: 1em;
            }
        }
    }
};

@mixin breakpoint($value) {

    @media (min-width: $value) {
        @content
    }
};

