.add-forum {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1 / -1;
    padding: 0.3rem;
    box-shadow: 0 0.2rem 0.8rem rgba($color-black, .20);  
    border: 1.5px dashed #5676a2;
    border-radius: 6px;
    background: #eee;
    color: #5676a2;
    text-decoration: none;
    transition: 0.25s all;

    &:hover, &:focus, &:active {
        transform: scale(0.95);
        box-shadow: 0 0.1rem 0.4rem rgba($color-black, .15);          
    }

    h4 {
        margin-right: 0.5em;
        font-size: 1.25rem;
    }
    
}