.btn {

    &:link,
    &:visited {
        display: inline-block;
        padding: 0.75em 1.25em;
        border-radius: 4px;
        background: $m3;
        color: $color-white;
        font-weight: bold;
        text-decoration: none;
        transition: all .15s;
    }

    &:hover, &:focus, &:active {
        transform: scale(.95);
        background: darken($color: $m3, $amount: 5%);
    }
    
}