.channel {
    width: 100%;
    margin-bottom: 2.5rem;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.425em 1em 0.425em 0.7em;
        border-radius: 6px;
        background-color: $m1;
        color: $color-white;
        
        h3 {
            margin-right: auto;
            color: $color-white;
            font-size: 1.25rem;
            text-transform: uppercase;

            > a {
                padding: 0.3em;
                font-size: inherit;
            }
        }

        a {
            color: $color-white;
            transition: 0.3s all;
            border-radius: 4px;
            font-size: 1.125rem;
            text-decoration: none;
            
            &:not(:last-child) {
                margin-right: 0.5em;
            }

            &:hover, &:focus, &:active {
                background: $m2;
            }

            span {
                padding: .5rem;
            }
        }
    }

    &__content {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1.25rem;
        padding: 1rem 0;

        @include breakpoint(800px) {
            grid-template-columns: repeat(2, 1fr);
        }
    
        @include breakpoint(1200px) {
            grid-template-columns: repeat(3, 1fr);    
        }

    }
}