.forum-thread {
    display: flex;
    padding: 1.25em;
    text-decoration: none;
    color: inherit;
    transition: .2s all;

    &:nth-child(2n + 1) {
        background: $s1;
    }

    &:last-child {
        border-radius: 0 0 8px 8px;
    }

    &:not(.header) {
        &:hover, &:focus, &:active {
            background: lighten($m4, 35%);
        }
    }

    &.header {
        font-weight: 700;
        color: $color-white;
        background: $m4;
        border-radius: 8px 8px 0 0px;
    }

    &__container {
        box-shadow: 0 4px 16px 2px hsla(0, 0%, 0%, 0.13);
        border-radius: 8px;
    }


    &__title {
        width: 70%;
    }

    &__author {
        width: 10%;
        text-align: left;
    }

    &__replies {
        width: 5%;
        text-align: center;
    }

    &__latest {
        width: 15%;
        text-align: right;
    }
}