.forum-thread {
    display: flex;
    padding: 1.25em;
    text-decoration: none;
    color: inherit;
    transition: .2s all;

    &:nth-child(2n + 1) {
        background: $s1;
    }

    &:last-child {
        border-radius: 0 0 8px 8px;
    }

    &:not(.header) {
        &:hover, &:focus, &:active {
            background: lighten($m4, 35%);
        }
    }

    &.header {
        font-weight: 700;
        color: $color-white;
        background: $m4;
        border-radius: 8px 8px 0 0px;
    }

    &__container {
        box-shadow: 0 4px 16px 2px hsla(0, 0%, 0%, 0.13);
        border-radius: 8px;
    }


    &__title {
        flex: 1 1 70%;
        padding-right: 1.25em;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        @include breakpoint(600px) {
            padding-right: 40px;
        }
    }

    &__author {
        flex: 1 0 6.25rem;
        text-align: right;
        overflow: hidden;
        text-overflow: ellipsis;

        @include breakpoint(600px) {
            text-align: left;
        }
    }

    &__replies {
        display: none;
        flex: 1 0 3.125rem;
        text-align: center;

        @include breakpoint(600px) {
            display: block;
        }
    }

    &__activity {
        display: none;
        flex: 1 0 6.25rem;
        text-align: right;

        @include breakpoint(600px) {
            display: block;
        }

    }
}