.forum-card {
    display: flex;
    flex-direction: column;
    min-height: 11.25rem;
    box-shadow: 0 .4rem 1rem rgba($color-black, .35);  
    border-radius: 6px;
    transition: 0.25s all;

    &:hover, &:focus, &:active {
        transform: scale(0.95);
        box-shadow: 0 0.2rem 0.8rem rgba($color-black, .15);          
    }

    &__link {
        color: inherit;
        text-decoration: none;
        flex-grow: 1;
    }

    &__header {
        background: $m4;

        h4 {
            padding: .6em 1em;
            font-size: 1.25rem;
            color: $color-white;
        }
    }

    &__content {
        padding: .6em 1em;
    }

    &__footer {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background: $m4;
        font-size: 1.25rem;

        a {
            color: $color-white;
            transition: 0.3s all;

            &:hover {
                background: $m2;
            }
        }

        span {
            padding: .5em;
        }
    }
}