<div class="container">
    <h1><%= @forum_thread.title %></h1>
    <div class="forum-post__container">
        <%= render "forum_post", forum_post: @forum_thread %>
        <%= render partial: "forum_threads/forum_post", collection: @forum_thread.forum_replies %>
    </div>
    <% if user_signed_in? %>
        <%= render partial: "forum_replies/forum_reply_form", locals: {form_title: "Post Reply"} %>
    <% end %>
</div>